* {
  margin: 0;
  padding: 0;
  font-family: 'poppins' ,sans-serif;
}

#nav-icon3 {
  width: 50px;
  height: 45px;
  position: relative;
  top: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: black;
  border-radius: 50px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 6px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 31px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

header {
  background-color: #F54748;
  height: 40px;
  padding: 10px;
  position: relative;
  z-index: 100;
}

nav {
  /* background-color: aquamarine; */
  flex: 1;
  display: flex;
  justify-content: space-between;
  height: 48px;
  padding-bottom: 10px;
}

nav > ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  flex: 2;
}


nav > ul > li {
  font-size: 20px;
  font-weight: 500;
  transition: ease-in-out 200ms;
}

nav > ul > li > a{
  text-decoration: none;
  color:black;
}

nav > ul > li:hover {
  text-shadow: 2px 2px 4px #343F56, -2px -2px 4px #343F56;
}

.home-logo {
  display: flex;
  align-items: center;
  flex: 1;
}

.home-logo > a {
  color: black;
  margin-left: 10px;
  transition: ease-in-out 200ms ;
  text-decoration: none;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 2.5px;
}

.home-logo > a:hover {
  text-shadow: 2px 3px 4px #343F56, -2px -3px 4px #343F56;
}

.dropdown {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.dropdown > #nav-icon3 {
  display: none;
}

.dropdown-list {
  position: absolute;
  background-color: #F54748;
  top: -100px;
  width: 100%;
  transition: ease-in 0.2s;
  z-index: 1;
}

.dropdown-list > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.dropdown-list > ul > li > a {
  text-decoration: none;
  color: black;
}

.active {
  /* display: none; */
  top: 50px;
}

main {
  background-color: bisque;
  margin: 0 10px 10px 10px;
  display: flex;
}

aside {
  background-color: white;
  flex: 0.5;
}


footer {
  display: flex;
  background-color: #343F56;
  color: white;
  justify-content: center;
  align-content: center;
  height: 40px;
}

.copyright {
  display: flex;
  align-items: center;
}


.content {
  display: flex;
  background-color: white;
  flex-direction: column;
  flex: 2.5;

}

article {
  background-color: #FB9300;
  margin-top: 30px;
  border-radius: 10px ;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article > img {
  position:relative;
  z-index: 0;
  max-width: 100%;
  border-radius: 10px 10px 0 0 ;
}

.text {
  position: relative;
  z-index: 1;
  background-color: #FB9300;
  top: -220px;
  padding: 40px;
  text-align: justify;
}

.text > h3 {
  font-size: 64px;
  letter-spacing: 2px;
}

.text > h4 {
  font-size: 32px;
  margin-bottom: 30px;
}

.text > p {
  font-size: 18px;
  margin-bottom: 40px;
}

.biodata {
  background-color: #F5E6CA;
  padding: 30px;
  margin-top: 30px ;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.biodata > img{
  max-width: 200px;
  align-self: center;
  clip-path: circle();
}

.biodata > h4 {
  margin-bottom: 10px;
}

.biodata > p {
  font-size: 14px;
}

@media screen and (max-width: 1280px) {
  .text {
    position: static;
  }
}

@media screen and (max-width: 1024px) {
  .dropdown > #nav-icon3 {
    display: block;
  }

  nav > ul > li {
    display: none;
  }
}

@media screen and (max-width: 768px) {

  main{
    flex-direction: column;

  }

  .content {
    order: 2;
  }
  
  aside {
    order: 1;
  }

}

@media screen and (max-width: 480px) {

  .text > h3 {
    font-size: 52px;
  }
  
  .text > h4 {
    font-size: 24px;
  }
  
  .text > p {
    font-size: 14px;
  }
}